* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 30px 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.player {
    background: #222;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

#capa {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

#titulo {
    margin-bottom: 5px;
}

#artista {
    margin-top: 0;
    color: #aaa;
}

.controles {
    margin: 20px 0;
}

button {
    border: none;
    padding: 12px 18px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
}

input[type="range"] {
    width: 100%;
    cursor: pointer;
}

.lista {
    margin-top: 25px;
    background: #222;
    padding: 20px;
    border-radius: 20px;
}

.lista h2 {
    text-align: center;
}

.musica-item {
    display: block;
    width: 100%;
    margin: 10px 0;
}
#pesquisa {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;

    border: none;
    border-radius: 10px;

    font-size: 16px;

    outline: none;
}
.musica-linha {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.musica-linha .musica-item {
    flex: 1;
    margin: 0;
}

.favorito {
    width: 50px;
    margin: 0;
    font-size: 20px;
}
.favoritos-box {
    margin-top: 25px;
}

.favoritos-box p {
    text-align: center;
    color: #aaa;
}

.favoritos-box .musica-item {
    width: 100%;
    margin: 8px 0;
}
